table {
    width: 90%;
  }

  .demo {
      display: flex;
  }

  .list {
      width: 70%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .m-l-5 {
    margin-right: 5px;
  }